In [1]:
# Import Dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [2]:
# Store the csv you saved created in part one into a Dataframe.
city_data_df = pd.read_csv("../WD/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,susanville,US,40.4163,-120.6530,66.20,15,1,11.50,clear sky
1,1,bluff,NZ,-46.6000,168.3333,57.99,57,100,21.99,overcast clouds
2,2,tuktoyaktuk,CA,69.4541,-133.0374,8.60,92,90,20.71,snow
3,3,solnechnyy,RU,50.7214,136.6319,40.08,37,14,3.94,few clouds
4,4,mataura,NZ,-46.1927,168.8643,57.99,57,100,23.00,overcast clouds

In [3]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
dtype: object

In [4]:
# Configure gmaps to use your google API key
gmaps.configure(api_key=g_key)

In [5]:
#Get the maximum tempreature
max_temp = city_data_df["Max temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating= False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating= False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minium and maximum tempreature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the minimum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the minimum temperature you would like for your trip? 90

In [11]:
#Filter the dataset to find the cities that fit the criteria.
prefered_cities_df = city_data_df.loc[(city_data_df["Max temp"] <= max_temp) & \
                                       (city_data_df["Max temp"] >= min_temp)]
                                      
prefered_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max temp,Humidity,Cloudiness,Wind Speed,Current Description
11,11,nhamunda,BR,-2.1861,-56.7131,75.42,93,17,2.59,few clouds
13,13,vaini,TO,-21.2000,-175.2000,77.00,69,20,11.50,few clouds
19,19,flinders,AU,-34.5833,150.8552,82.00,78,75,11.50,broken clouds
20,20,arraial do cabo,BR,-22.9661,-42.0278,75.54,73,53,10.96,broken clouds
30,30,atuona,PF,-9.8000,-139.0333,80.13,79,76,8.55,light rain
32,32,codo,BR,-4.4553,-43.8856,76.35,85,72,2.57,broken clouds
39,39,cabo san lucas,MX,22.8909,-109.9124,86.00,21,1,17.27,clear sky
40,40,saint-philippe,RE,-21.3585,55.7679,77.00,69,0,5.75,clear sky
46,46,tiarei,PF,-17.5333,-149.3333,86.00,70,20,12.66,few clouds
62,62,hithadhoo,MV,-0.6000,73.0833,83.08,75,40,16.08,scattered clouds

In [12]:
prefered_cities_df.count()

City_ID                541
City                   541
Country                540
Lat                    541
Lng                    541
Max temp               541
Humidity               541
Cloudiness             541
Wind Speed             541
Current Description    541
dtype: int64

In [13]:
# Create a DataFrame called hotel_df to store hotel names along with city,  country, max temp, and coordinates.
hotel_df = prefered_cities_df[["City", "Country", "Max temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max temp      Lat       Lng Hotel Name
11         nhamunda      BR     75.42  -2.1861  -56.7131
13            vaini      TO     77.00 -21.2000 -175.2000
19         flinders      AU     82.00 -34.5833  150.8552
20  arraial do cabo      BR     75.54 -22.9661  -42.0278
30           atuona      PF     80.13  -9.8000 -139.0333
32             codo      BR     76.35  -4.4553  -43.8856
39   cabo san lucas      MX     86.00  22.8909 -109.9124
40   saint-philippe      RE     77.00 -21.3585   55.7679
46           tiarei      PF     86.00 -17.5333 -149.3333
62        hithadhoo      MV     83.08  -0.6000   73.0833

In [14]:
# Set parameters to search for a hotel 
params = {
     "radius": 5000,
     "type": " lodging",
     "key": g_key
}

In [ ]:
# Iterate through the Dataframe.

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to the location key for the param dictonary
    params["location"] = f"{lat},{lng}"
    
    # use the search term" "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the json data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        
        print(index, hotels["results"][0]["name"])
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print(index, "Hotel not found ......skipping.")

11 Nhamundá
13 Nukuhetulu
19 Wollongong
20 Arraial do Cabo
30 Atuona
32 Codó
39 Cabo San Lucas
40 Saint-Philippe
46 Maha'ena
62 Addu City
65 Vaitape
68 Rikitea
69 Manggar
75 Fomboni
77 Mahebourg
83 Jhanjharpur
86 Nortelândia
89 Kulhudhuffushi
90 Wilson Hill
91 Alofi
92 Padang
93 Kota Belud
102 Kombissiri
107 Goodlands
109 Mahajanga
111 Hotel not found ......skipping.
112 Road Town
114 Kavaratti
115 Carnarvon
117 CV. Karya Alam Perkasa
126 Las Cruces
127 Vila Velha
129 Souillac
133 Avarua District
135 Lorengau
136 Benguela
140 Kaewieng
146 Le Port
148 Manta
149 Kapaʻa
153 Tezu
154 Vao
157 Marawi City
158 Belmonte
161 Oras
162 بير أبو زيد الهلالي
169 Isles Sunset Lodge

In [ ]:
hotel_df.head()

In [ ]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig